body {
  background: linear-gradient(135deg, #022a56, #b8a46c) fixed;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* Color Stylings */
.primary-bold-text {
  /* font-size: x-large; */
  color: white;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.6);
  font-weight: 800;
}

.primary-para-text {
  color: white;
  font-size: larger;
}

/* Navbar Styling */
#navbar {
  background-image: linear-gradient(to bottom, #022a56, #b3b5b8);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

#navbar a {
  font-weight: 800;
  color: white;
  font-size: x-large;
}

#navbar a:hover {
  color: #b8a46c;
}

#navbar a img {
  width: 100px;
}

#navbar li {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Main Content */
/* #practice-container {
  max-width: 1200px;
} */
.far {
  color: white;
}

.far::before {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #b8a46c;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border: black;
}


/* Media Queries */
/* Styling for screens smaller than  */

/* Styling for phones */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: x-large;
  }
  h2 {
    font-size: larger;
  }
  .practice-info-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .primary-para-text {
    font-size: medium;
  }
  #navbar > a > img {
    width: 80px;
  }
  #practice-icon-container, #faq-container {
    flex-direction: column;
  }
 
}
