/* html {
  min-height: 100%;
} */
/* .w-100 {
  width: 100% !important;
  height: 75vh;
} */
/* 
#main-carousel {
  width: 100%;
  height: 95px;
} */

/* .carousel .item img {
  max-height: 1024px;
  min-width: auto;
} */

/* .carousel-container {
  margin-top: 500px;
} */
/* .carousel {
  /* position: absolute; */
  /* top: 50px; */
/* } */ 


/* .carousel-inner > .carousel-item > img {
  margin: auto;

  position: relative;
  top: 5%;
  transform: translateY(-100%);
} */

#carousel-container {
  /* position: relative; */
  margin-top: 60px;
}

.carousel-inner > .carousel-item {
  max-height: 800px;
}

.carousel-inner img {
  margin: auto;
  top: 10%;
  position: relative;
  /* transform: translateY(-5%); */
  
}




/* #carousel-container {
  max-height: 500px;
} */

body {
  background: linear-gradient(135deg, #022a56, #b8a46c) fixed;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  min-height: 100%;
}

html,body {
  overflow: auto;
}

/* Color Stylings */
.primary-bold-text {
  /* font-size: x-large; */
  color: white;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.6);
  font-weight: 800;
}

.primary-para-text {
  color: white;
  font-size: larger;
  text-justify: distribute;
}

/* Navbar Styling */
#navbar {
  background-image: linear-gradient(to bottom, #022a56, #b3b5b8);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  /* margin-bottom: 200px; */
  
}

#navbar a {
  font-weight: 800;
  color: white;
  font-size: x-large;
}

#navbar a:hover {
  color: #b8a46c;
}

#navbar a img {
  width: 100px;
}

#navbar li {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Main Content */
#about-us {
  /* Fix for bad offset when clicking href */
  scroll-margin-top: 80px;
}

#faq {
  scroll-margin-top: 70px;
}


#footer {
  background-color: #022a56;
  height: 20px;
  bottom: 0;
}




/* #practice-container {
  max-width: 1200px;
} */
.far {
  color: white;
}

.far::before {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #b8a46c;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border: black;
}


/* Media Queries */


/* Media Queries to adjust carousel height and img pos */

/* 2160p vertical */
@media only screen and (max-height: 2160px) {
  .carousel-inner > .carousel-item {
    max-height: 1400px;
  }
  .carousel-inner img {
    transform: translateY(-18%);
  }
}

/* 1440p vertical */
@media only screen and (max-height: 1440px) {
  .carousel-inner > .carousel-item {
    max-height: 1000px;
  }

  @media only screen and (max-width: 3440px) {
    .carousel-inner img {
      transform: translateY(-22%);
    }
  }

  @media only screen and (max-width: 2560px) {
    .carousel-inner img {
      transform: translateY(-20%);
    }
  }

}

/* 1080p vertical */
@media only screen and (max-height: 1080px) {
  .carousel-inner > .carousel-item {
    max-height: 760px;
  }

  @media only screen and (max-width: 2560px) {
    .carousel-inner img {
      transform: translateY(-15%);
    }
  }
  
  @media only screen and (max-width: 1920px) {
    .carousel-inner img {
      transform: translateY(-10%);
    }
  }

  @media only screen and (max-width: 300px) {
    .carousel-inner img {
      transform: translateY(-3%);
    }
  }
  
}


/* Styling for phones */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: x-large;
  }
  h2 {
    font-size: larger;
  }
  h4 {
    font-size: medium;
  }
  .practice-info-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .primary-para-text {
    font-size: small;
  }
  #navbar > a > img {
    width: 80px;
  }
  #practice-icon-container, #faq-container {
    flex-direction: column;
  }
 
}
